@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* reset css */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

body {
  height: 100vh;
  
  font-family: 'Lato', sans-serif;
  color: #051644;
  background: linear-gradient(-15deg, rgba(244, 175, 27, 0.5), rgba(96, 119, 192, 0.7), rgba(244, 175, 27, 0.5));

  h1, h2, h3, h4 {
    padding: 6px;
    text-transform: uppercase;
    color: #455073;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}